<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico"> -->
    <title id="title">S-Teleprompter demo video display</title>
    <style>
      .box{
        width: 100vw;
        height: 100vh;
      }
      .col-center {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
      }
      .title{
        font-size: 14px;
        font-weight: bold;
        line-height: 40px;
      }

    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div class="box col-center">
      <div class="title">S-Teleprompter app demo video</div>
      <video src="./assets/demo.mp4" controls="controls" preload="auto"></video>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
